<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 	 
    <script type="text/javascript" src="http://g.alicdn.com/sj/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script src="../js/common.js"></script>
    <script type="text/javascript">
    
    function toPay(){
        if (typeof WeixinJSBridge == "undefined"){
           if( document.addEventListener ){
               document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
           }else if (document.attachEvent){
               document.attachEvent('WeixinJSBridgeReady', onBridgeReady); 
               document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
           }
        }else{
           onBridgeReady();
        }
    }
    
    function onBridgeReady(){
    	$.ajax({
    		   type: "POST",
    		   url: DEF_GLOBAL_DOMAIN+"/wxPay/toPayInfo.do",
    		   success: function(data){
    	 			  console.log(data);
    	 			  
    	 			  
    	 			 WeixinJSBridge.invoke(
    	 			           'getBrandWCPayRequest', {
    	 			               "appId" : data.data.appId, 
    	 			               "timeStamp": data.data.timeStamp,    
    	 			               "nonceStr" : data.data.nonceStr,
    	 			               "package" : data.data.package,
    	 			               "signType" :  data.data.signType, 
    	 			               "paySign" : data.data.paySign
    	 			           },function(res){
    	 			        	   $("#msgId").html(res.err_msg);
    	 			            if(res.err_msg == "get_brand_wcpay_request:ok"){
    	 			            	$("#resId").html("支付成功");
    	 			            //	location.href="weixinPayResult.html";//支付成功跳转到指定页面
    	 			            }else if(res.err_msg == "get_brand_wcpay_request:cancel"){  
    	 			            	$("#resId").html("支付取消");
    	 			            }else{  
    	 			            	$("#resId").html("支付失败");
    	 			            }  
    	 			        }); 
    	 		   }
    		});
    	
    }
     
    </script>
</head>
<body>
 
 
<div class="content">
    <div class="form-area">
    	 <div class="inp">
            		支付0.01元
        </div>
        <button class="em-submit-st2" onclick="toPay()" >
           	确定支付
        </button>
    </div>
   结果：
    <p/>
    <div id="resId"></div>
    参数：
    <p/>
    <div id="invokeId"></div>
    <br/><p/>
    返回：
    <p/>
    <div id="msgId"></div>
</div>
 
</body>
</html>
